.bigstat__wrapper-stat {
    height: 100vh;
    font-family: Arial, sans-serif;
    color: #fff;
}

.bigstat__background-wrapper {
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: -1;
    -webkit-user-select: none;
    user-select: none;
}

.bigstat__background-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.5);
    -webkit-user-select: none;
    user-select: none;
}

.carousel-item {
    height: 100vh; /* Set height to cover viewport */
}

.carousel-item img {
    object-fit: cover; /* Ensure image fills its container */
}

.bigstat__wrapper-stat h2 {
    color: #fff;
    font-family: var(--title-font);
    word-spacing: 0.20em;
    font-size: clamp(3rem, 8vw, 6rem);
}

.bigstat__stat {
    background: var(--body-background);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 0.2s;
    width: calc(33% - 1rem);
    cursor: pointer;
}

.bigstat__stat:hover {
    transform: translateY(-10px)!important;
}

.bigstat__stat-content h3 {
    color: var(--body-color);
    font-size: clamp(1.5rem, 3vw, 2rem);
    line-height: 1.3;
}

.bigstat__stat h3:first-child {
    color: var(--primary-color);
    font-size: 4em;
}

.bigstat__stat h3:first-child::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: var(--primary-color);
    margin-left: auto;
}

.bigstat__stat h3:last-child {
    font-family: var(--title-font);
}

@media (max-width: 768px) {
    .bigstat__stat {
        width: calc(50% - 1rem);
    }
}

@media (max-width: 576px) {
    .bigstat__stat {
        width: calc(100% - 1rem);
    }
}

@media screen and (max-width: 365px) {
    .bigstat__stat-content {
        justify-content: center;
    }

    .bigstat__stat-content h3 {
        font-size: 1rem!important;
    }

    .bigstat__stat-content h3:last-child {
        margin: 0;
    }

    .bigstat__stat {
        width: calc(100% - 5rem);
    }
}
