.modal-title {
    font-family: var(--title-font);
    font-weight: 300;
    letter-spacing: 2px;
}

.modal-section {
    margin-bottom: 36px;
}

.modal-section h6::after {
    content: "";
    display: block;
    width: 3rem;
    height: 2px;
    background-color: var(--primary-color);
    margin-top: 5px;
}

.modal-content {
    background-color: var(--body-background);
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-dialog {
    transition: transform 0.3s ease;
}

.modal.fade .modal-dialog {
    transform: translateY(-50px);
}

.modal.show .modal-dialog {
    transform: translateY(0);
}

.modal-backdrop {
    background-color: rgba(0, 0, 0);
}

@media screen and (max-width: 400px) {
    .modal-dialog {
        height: 100%;
    }
}
