.cookie__consent-box .modal-dialog {
    position: fixed;
    bottom: 20px;
    left: 20px;
    max-width: 300px;
    height: fit-content;
    background: var(--body-background)!important;
    color: var(--body-color)!important;
}

.cookie__consent-box .cookie__body-content {
    text-align: left;
    padding: 0 1rem;
}

.cookie__consent-box .modal-footer button {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.cookie__consent-box .modal-footer button:hover {
    background-color: rgb(228, 134, 50, 0.8);
    border-color: rgb(228, 134, 50, 0.8);
}

.cookie__consent-box .cookie__consent-header,
.cookie__consent-box .cookie__body-content {
    color: #000;
}