.getintouch__content-wrapper {
    height: 100%;
    margin-top: 12rem;
}

.getintouch__header h1 {
    color: var(--body-color);
    font-family: var(--title-font);
    font-size: 4em;
}

.getintouch__header h1 span {
    color: var(--primary-color);
}

.getintouch__desc {
    color: var(--body-color);
    font-size: 1.25em;
}

.getintouch__subline {
    font-family: var(--title-font);
    color: var(--body-color);
}

.getintouch__subline::after {
    content: '';
    display: inherit;
    width: 10%;
    height: 2px;
    background-color: var(--primary-color);
    margin-top: 10px;
}

.getintouch__form {
    box-shadow: var(--card-shadow);
    background: var(--card-background);
}

.getintouch__form input, 
.getintouch__form textarea {
    background: none;
    color: var(--body-color);
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--primary-color);
}

.getintouch__form input:focus, 
.getintouch__form textarea:focus {
    color: var(--body-color);
    background: none;
    border-bottom: 1px solid var(--primary-color);
    outline: none!important;
    box-shadow: none!important;
}

.getintouch__form input::placeholder,
.getintouch__form textarea::placeholder {
    color: var(--body-color);
    opacity: 0.75;
}

.getintouch__form button {
    width: 30%;
    border-radius: 0;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.getintouch__form button:hover {
    background-color: #e39149;
    border-color: #e39149;
}

.getintouch__contact-info {
    background: var(--card-background);
    color: var(--body-color);
    font-family: var(--title-font);
    box-shadow: var(--card-shadow);
}

.getintouch__contact-info i {
    color: var(--primary-color);
}

.getintouch__contact-info p {
    color: var(--primary-color);
}

.getintouch__contact-info span {
    color: var(--body-color);
}

.getintouch__contact-info iframe {
    height: 400px;
    width: 100%;
}