.job-card {
    border-left: 2px solid var(--primary-color);
    background: var(--card-background);
    box-shadow: var(--card-shadow);
    min-height: 195px;
    height: 100%;
}

.hiring__modal-header,
.hiring__modal-footer {
    border-color: var(--primary-color);
    border-width: 2px;
    color: var(--body-color);
    font-family: var(--title-font);
}

.hiring__modal-header .fw-light,
.hiring__modal-header .fw-normal,
.hiring__modal-requirement-header,
.hiring__modal-header-text span,
.hiring__modal-howToApply-header {
    color: var(--body-color);
    font-size: 2em;
}

.hiring__modal-header .fw-light{
    font-size: 2em;
    color: var(--primary-color);
}

.hiring__modal-header-text {
    font-size: 1em;
}

.hiring__modal-require-skill span {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
}

.hiring__newsletter {
    width: 80%;
}

.hiring__newsletter h1 {
    font-size: 2em;
    font-family: var(--title-font);
    color: var(--body-color);
}

.hiring__newsletter h1::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 0.5rem;
    transform: translateX(-50%);
    background: var(--primary-color);
    width: 10%;
    height: 2px;
}

.hiring__newsletter-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 2px solid #fff;
    box-shadow: var(--card-shadow);
    outline: none;
}

.hiring__newsletter-input:focus, .hiring__newsletter-input:active {
    border: 2px solid #fff!important;
    box-shadow: var(--card-shadow)!important;
    outline: none!important;
    box-shadow: none!important;
}

.hiring__newsletter-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 2px solid var(--primary-color);
    box-shadow: var(--card-shadow);
    background: var(--primary-color);
}

.hiring__newsletter-button:hover {
    background-color: #e39149;
    border-color: #e39149;
}

@media screen and (max-width: 1400px) {
    .job-card {
        padding: 12px 12px!important;
    }
}

@media screen and (max-width: 1200px) {
    .job-card h2 {
        font-size: 1.5em;
    }
}