.investor__header img {
    object-fit: cover;
    max-height: 750px;
    filter: brightness(0.5);
}

.investor__header h1 {
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    font-family: var(--title-font);
    font-size: 4em;
    color: #fff;
}

.investor__info {
    align-items: last baseline;
}

.investor__info .info {
    color: var(--body-color);
}

.investor__info .info:first-child h4 {
    font-size: 1.40em!important;
}

.investor__info .info:first-child h1 {
    font-size: 3.25em!important;
}

.investor__info .info:first-child span {
    font-size: 0.60em;
}

.investor__info .info h4 {
    font-family: var(--title-font);
    font-size: 1em;
}

.investor__info .info h1 {
    font-size: 2em;
}

.investor__info-date {
    font-size: 1rem;
    color: var(--body-color);
    opacity: 0.5;
}

.investor__newsroom-header {
    color: var(--body-color);
}

.investor__newsroom-header::after {
    content: '';
    display: inherit;
    width: 6rem;
    height: 2px;
    background-color: var(--primary-color);
    margin-top: 10px;
}

.date {
    opacity: 0.5;
}

@media screen and (max-width: 1020px) {
    .investor__header h1 {
        font-size: 2em;
    }

    .investor__info-row {
        flex-direction: column;
    }

    .col-md-3 {
        margin-top: 2rem;
        flex-direction: row!important;
        justify-content: flex-start!important;
    }

    .investor__info {
        padding-right: 0;
    }

    .investor__info .info h1 {
        font-size: 1.5em;
    }

    .investor__info .info h4 {
        font-size: 0.9em;
    }

    .investor__info .info:first-child h1 {
        font-size: 2.5em!important;
    }

    .investor__info-date {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .investor__info {
        flex-direction: column;
        align-items:baseline;
    }
}