.team__card:hover .team__hover-content {
    opacity: 1;
}

.team__card:hover figure img {
    filter: grayscale(100%) blur(2px);
}

.team__hover-content {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.team__quote {
    font-size: 1em;
}

.team__quote-divider {
    width: 120px;
    border-top: 2px solid var(--primary-color);
}

.team__studio-images img {
    box-shadow: var(--card-shadow);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


.team__studio-images .fa-image {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: var(--primary-color);
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.4s;
}

.team__studio-images .team__wrapper-image:hover .fa-image {
    opacity: 1;
}

.team__studio-images img {
    box-shadow: var(--card-shadow);
    cursor: pointer;
    transition: filter 0.3s ease-in-out;
}

.team__studio-images .team__wrapper-image:hover img {
    filter: brightness(0.3) blur(0.5px);
}
