.landing-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Landing section */
.background-wrapper {
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: black;
    z-index: -1;
    -webkit-user-select: none;
    user-select: none;
}

.background-wrapper > img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.5);
    -webkit-user-select: none;
    user-select: none;
}

.header-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.header-quote > h1 {
    text-align: center;
    color: #fff;
    font-size: clamp(3rem, 3vw, 4rem);
}

.header-quote > h1 > span {
    color: var(--primary-color);
}